<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{521,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{521,338}}</string>
                <key>sourceSize</key>
                <string>{521,338}</string>
            </dict>
            <key>frame001.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,2},{521,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{521,338}}</string>
                <key>sourceSize</key>
                <string>{521,338}</string>
            </dict>
            <key>frame002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,2},{521,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{521,338}}</string>
                <key>sourceSize</key>
                <string>{521,338}</string>
            </dict>
            <key>frame003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{521,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{521,338}}</string>
                <key>sourceSize</key>
                <string>{521,338}</string>
            </dict>
            <key>frame004.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,342},{521,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{521,338}}</string>
                <key>sourceSize</key>
                <string>{521,338}</string>
            </dict>
            <key>frame005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,342},{521,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{521,338}}</string>
                <key>sourceSize</key>
                <string>{521,338}</string>
            </dict>
            <key>frame006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{521,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{521,338}}</string>
                <key>sourceSize</key>
                <string>{521,338}</string>
            </dict>
            <key>frame007.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,682},{521,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{521,338}}</string>
                <key>sourceSize</key>
                <string>{521,338}</string>
            </dict>
            <key>frame008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,682},{521,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{521,338}}</string>
                <key>sourceSize</key>
                <string>{521,338}</string>
            </dict>
            <key>frame009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1022},{521,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{521,338}}</string>
                <key>sourceSize</key>
                <string>{521,338}</string>
            </dict>
            <key>frame010.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,1022},{521,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{521,338}}</string>
                <key>sourceSize</key>
                <string>{521,338}</string>
            </dict>
            <key>frame011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,1022},{521,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{521,338}}</string>
                <key>sourceSize</key>
                <string>{521,338}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>flag.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:885d6f1dfc0fc00aec9d1baf8c776469$</string>
            <key>textureFileName</key>
            <string>flag.png</string>
        </dict>
    </dict>
</plist>
