<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,36}</string>
            </dict>
            <key>002.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,2},{16,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,40}}</string>
                <key>sourceSize</key>
                <string>{16,40}</string>
            </dict>
            <key>003.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{19,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,47}}</string>
                <key>sourceSize</key>
                <string>{19,47}</string>
            </dict>
            <key>004.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,2},{22,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,40}}</string>
                <key>sourceSize</key>
                <string>{22,40}</string>
            </dict>
            <key>005.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,2},{27,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,41}}</string>
                <key>sourceSize</key>
                <string>{27,41}</string>
            </dict>
            <key>006.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{24,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,38}}</string>
                <key>sourceSize</key>
                <string>{24,38}</string>
            </dict>
            <key>007.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{28,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,36}}</string>
                <key>sourceSize</key>
                <string>{28,36}</string>
            </dict>
            <key>008.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{24,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,40}}</string>
                <key>sourceSize</key>
                <string>{24,40}</string>
            </dict>
            <key>009.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{27,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,46}}</string>
                <key>sourceSize</key>
                <string>{27,46}</string>
            </dict>
            <key>010.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,2},{30,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,40}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>011.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,2},{30,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,41}}</string>
                <key>sourceSize</key>
                <string>{30,41}</string>
            </dict>
            <key>012.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,2},{29,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,38}}</string>
                <key>sourceSize</key>
                <string>{29,38}</string>
            </dict>
            <key>013.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{30,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,34}}</string>
                <key>sourceSize</key>
                <string>{30,34}</string>
            </dict>
            <key>014.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{18,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,34}}</string>
                <key>sourceSize</key>
                <string>{18,34}</string>
            </dict>
            <key>015.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{24,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,35}}</string>
                <key>sourceSize</key>
                <string>{24,35}</string>
            </dict>
            <key>016.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{32,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,35}}</string>
                <key>sourceSize</key>
                <string>{32,35}</string>
            </dict>
            <key>017.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>018.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{26,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,34}}</string>
                <key>sourceSize</key>
                <string>{26,34}</string>
            </dict>
            <key>019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,51},{21,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,33}}</string>
                <key>sourceSize</key>
                <string>{21,33}</string>
            </dict>
            <key>020.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,51},{25,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,34}}</string>
                <key>sourceSize</key>
                <string>{25,34}</string>
            </dict>
            <key>021.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,51},{30,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,33}}</string>
                <key>sourceSize</key>
                <string>{30,33}</string>
            </dict>
            <key>022.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,51},{34,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,33}}</string>
                <key>sourceSize</key>
                <string>{34,33}</string>
            </dict>
            <key>023.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,51},{29,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,32}}</string>
                <key>sourceSize</key>
                <string>{29,32}</string>
            </dict>
            <key>024.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,51},{28,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,34}}</string>
                <key>sourceSize</key>
                <string>{28,34}</string>
            </dict>
            <key>025.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,51},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>026.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,51},{33,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,34}}</string>
                <key>sourceSize</key>
                <string>{33,34}</string>
            </dict>
            <key>027.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,51},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>028.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,51},{31,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,34}}</string>
                <key>sourceSize</key>
                <string>{31,34}</string>
            </dict>
            <key>029.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,51},{30,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,33}}</string>
                <key>sourceSize</key>
                <string>{30,33}</string>
            </dict>
            <key>030.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,51},{32,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,34}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>031.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,51},{34,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,33}}</string>
                <key>sourceSize</key>
                <string>{34,33}</string>
            </dict>
            <key>032.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,51},{36,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,34}}</string>
                <key>sourceSize</key>
                <string>{36,34}</string>
            </dict>
            <key>033.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,51},{34,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,32}}</string>
                <key>sourceSize</key>
                <string>{34,32}</string>
            </dict>
            <key>034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{23,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,42}}</string>
                <key>sourceSize</key>
                <string>{23,42}</string>
            </dict>
            <key>035.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,88},{27,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,43}}</string>
                <key>sourceSize</key>
                <string>{27,43}</string>
            </dict>
            <key>036.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,88},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,42}}</string>
                <key>sourceSize</key>
                <string>{28,42}</string>
            </dict>
            <key>037.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,88},{30,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,39}}</string>
                <key>sourceSize</key>
                <string>{30,39}</string>
            </dict>
            <key>038.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,88},{27,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,44}}</string>
                <key>sourceSize</key>
                <string>{27,44}</string>
            </dict>
            <key>039.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,88},{31,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,38}}</string>
                <key>sourceSize</key>
                <string>{31,38}</string>
            </dict>
            <key>040.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,88},{31,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,43}}</string>
                <key>sourceSize</key>
                <string>{31,43}</string>
            </dict>
            <key>041.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,88},{31,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,42}}</string>
                <key>sourceSize</key>
                <string>{31,42}</string>
            </dict>
            <key>042.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,88},{29,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,37}}</string>
                <key>sourceSize</key>
                <string>{29,37}</string>
            </dict>
            <key>043.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,88},{31,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,39}}</string>
                <key>sourceSize</key>
                <string>{31,39}</string>
            </dict>
            <key>044.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,88},{97,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,69}}</string>
                <key>sourceSize</key>
                <string>{97,69}</string>
            </dict>
            <key>045.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,88},{42,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,43}}</string>
                <key>sourceSize</key>
                <string>{42,43}</string>
            </dict>
            <key>046.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,88},{36,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,29}}</string>
                <key>sourceSize</key>
                <string>{36,29}</string>
            </dict>
            <key>047.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,159},{63,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,45}}</string>
                <key>sourceSize</key>
                <string>{63,45}</string>
            </dict>
            <key>048.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,159},{39,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,25}}</string>
                <key>sourceSize</key>
                <string>{39,25}</string>
            </dict>
            <key>049.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,159},{63,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,44}}</string>
                <key>sourceSize</key>
                <string>{63,44}</string>
            </dict>
            <key>050.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,159},{124,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,71}}</string>
                <key>sourceSize</key>
                <string>{124,71}</string>
            </dict>
            <key>051.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,159},{79,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,28}}</string>
                <key>sourceSize</key>
                <string>{79,28}</string>
            </dict>
            <key>052.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,159},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>053.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,159},{38,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,33}}</string>
                <key>sourceSize</key>
                <string>{38,33}</string>
            </dict>
            <key>054.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,159},{43,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,33}}</string>
                <key>sourceSize</key>
                <string>{43,33}</string>
            </dict>
            <key>055.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{60,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,33}}</string>
                <key>sourceSize</key>
                <string>{60,33}</string>
            </dict>
            <key>056.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,232},{51,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,33}}</string>
                <key>sourceSize</key>
                <string>{51,33}</string>
            </dict>
            <key>057.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,232},{23,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,28}}</string>
                <key>sourceSize</key>
                <string>{23,28}</string>
            </dict>
            <key>058.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,232},{23,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,29}}</string>
                <key>sourceSize</key>
                <string>{23,29}</string>
            </dict>
            <key>059.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,232},{23,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,28}}</string>
                <key>sourceSize</key>
                <string>{23,28}</string>
            </dict>
            <key>060.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,232},{32,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,26}}</string>
                <key>sourceSize</key>
                <string>{32,26}</string>
            </dict>
            <key>061.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,232},{32,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,27}}</string>
                <key>sourceSize</key>
                <string>{32,27}</string>
            </dict>
            <key>062.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,232},{31,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,26}}</string>
                <key>sourceSize</key>
                <string>{31,26}</string>
            </dict>
            <key>063.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,232},{32,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,26}}</string>
                <key>sourceSize</key>
                <string>{32,26}</string>
            </dict>
            <key>064.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,232},{32,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,27}}</string>
                <key>sourceSize</key>
                <string>{32,27}</string>
            </dict>
            <key>065.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,232},{31,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,26}}</string>
                <key>sourceSize</key>
                <string>{31,26}</string>
            </dict>
            <key>066.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,267},{192,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,108}}</string>
                <key>sourceSize</key>
                <string>{192,108}</string>
            </dict>
            <key>067.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,267},{119,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,160}}</string>
                <key>sourceSize</key>
                <string>{119,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>halo.png</string>
            <key>size</key>
            <string>{503,429}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42a37a8242c36b3226a39d09aa9829d3$</string>
            <key>textureFileName</key>
            <string>halo.png</string>
        </dict>
    </dict>
</plist>
